body {
  height: 700px;
  display: grid;
  place-items: center;
  background: url("https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png");
}
.card{
  display: flex;
}
.profile{
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
  background-color: rebeccapurple;
  margin: auto;
  margin-top: 10px;
  padding-top: 10px;
  color: #fff;
}
.container{
  display: flex;
  flex-wrap: wrap;
}
